# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these will always be requested as reviewer when someone
# opens a pull request.
* @lauraselby @laragarbett @rmbielby

# The workflow and website setup files are jointly owned
_quarto.yml  @lauraselby @laragarbett @rmbielby
.github  @lauraselby @laragarbett @rmbielby 

# The following files and folders are owned by the SDT team
/ADA/ @laragarbett @Lsnaathorst1
/RAP/ @laragarbett @Lsnaathorst1
/resources/ @laragarbett @Lsnaathorst1
/learning-development/ @laragarbett @Lsnaathorst1

# The following files and folders are owned by the EESP team
/statistics-production/ @rmbielby
/data_examples/ @rmbielby
/writing-visualising/dashboards_rshiny.qmd @rmbielby
/writing-visualising/dashboards.qmd @rmbielby
/resources/Methodology_template_EES.docx @rmbielby

# The following files relate to publication scrums
/resources/Content_Design_Logbook_Dashboards.xlsx @rmbielby
/resources/Content_Design_Logbook.xlsx @rmbielby
/resources/Content_Design_Scrum_Progression.pptx @rmbielby
/resources/Content_Design_Scrums_Insights_final.docx @rmbielby

