# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these will always be requested as reviewer when someone
# opens a pull request.
* @cjrace

# The workflow and website setup files are jointly owned
_quarto.yml  @cjrace @rmbielby
.github  @cjrace @rmbielby

# The following files and folders are owned by the SDT team
/ADA/  @Lsnaathorst1 @mzayeddfe 
/RAP/  @Lsnaathorst1 @mzayeddfe
/resources/  @Lsnaathorst1 @mzayeddfe
/learning-development/  @Lsnaathorst1 @mzayeddfe

# The following files and folders are owned by the EESP team
/statistics-production/api-data-standards.qmd @rmbielby
/statistics-production/ees.qmd @rmbielby
/statistics-production/embedded-charts.qmd @rmbielby
/statistics-production/examples.qmd @rmbielby
/statistics-production/ud.qmd @rmbielby
/data_examples/ @rmbielby
/writing-visualising/dashboards_rshiny.qmd @rmbielby
/writing-visualising/dashboards.qmd @rmbielby
/resources/Methodology_template_EES.docx @rmbielby

# The following files relate to publication scrums
/resources/Content_Design_Logbook_Dashboards.xlsx @rmbielby
/resources/Content_Design_Logbook.xlsx @rmbielby
/resources/Content_Design_Scrum_Progression.pptx @rmbielby
/resources/Content_Design_Scrums_Insights_final.docx @rmbielby
/statistics-production/scrums.qmd @rmbielby

# The following files cover our take on the analysis function best practice
/writing-visualising/visualising.qmd @rmbielby
/writing-visualising/writing.qmd @rmbielby 
