.sidebar-logo {
  max-height: 175px;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
  }
  
   /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }
  
    *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    }
    
h3,.h3 {
  font-size: 1.25rem;
}

h4,.h4 {
  font-size: 1.2rem;
}