/*-- scss:defaults --*/

// Import common variables
@import 'styles';

$sidebar-fg: #9c3815;

// Customise link colours
a {
  color: #9c3815 !important; 

  &:visited {
    color: #6F0B63 !important; 
  }

  &:hover {
    color: #30600B !important; 
  }
  
  &:active{
     color: #9c3815 !important;
  }
    
  }



/* Background color for inline code */
$code-bg: #E9ECEF; 
/* Font color for inline code */
$code-color: #333333;  
/* Background color for code blocks */