/*-- scss:defaults --*/

// Import common variables
@import 'styles';

$sidebar-fg: #31a3d8;



// customise link colours 

a {
  color: #31a3d8 !important; // Default link color
  
  &:hover {
    color: #57B215 !important; // Color when hovering over the link
  }

}


// Change the background color for breadcrumbs
.breadcrumb {
  a {
    color: #C4D6CE !important; // breadcrumb link item color
  }
  
  li{
    color: #ffffff !important ; // breadcrumb list item color
  }
}

.nav-page {
    a {
    color: #C4D6CE  !important; // bottom navigation link color
  }
}


/* Background color for inline code */
$code-bg:#555555; 
/* Font color for inline code */
$code-color: #ffffff;  

  
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #2a9fd6 #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #2a9fd6;
    border-radius: 10px;
    border: 3px solid #000000;
  }


